USE [master]
GO
/****** Object:  Database [ekofinLLM]    Script Date: 22.07.2026 15:21:35 ******/
CREATE DATABASE [ekofinLLM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ekofinLLM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ekofinLLM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ekofinLLM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ekofinLLM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ekofinLLM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ekofinLLM]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 22.07.2026 15:21:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Url] [nvarchar](1000) NULL,
	[Content] [nvarchar](max) NULL,
	[Category] [nvarchar](200) NULL,
	[Keywords] [nvarchar](1000) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 

SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
