USE [GenericChatbotDB]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 31.07.2026 11:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationName] [nvarchar](200) NOT NULL,
	[BaseUrl] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 31.07.2026 11:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Url] [nvarchar](1000) NULL,
	[Content] [nvarchar](max) NULL,
	[Category] [nvarchar](200) NULL,
	[Keywords] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Id], [ApplicationName], [BaseUrl], [CreatedAt]) VALUES (1, N'Ekofin', N'https://qa.ekofin.net', CAST(N'2026-07-28T11:22:24.227' AS DateTime))
INSERT [dbo].[Applications] ([Id], [ApplicationName], [BaseUrl], [CreatedAt]) VALUES (2, N'Smartinfo', N'https://smartinfo.com.tr', CAST(N'2026-07-28T11:51:52.753' AS DateTime))
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([Id], [ApplicationId], [Title], [Url], [Content], [Category], [Keywords]) VALUES (1, 1, N'Halka Arzlar', N'https://qa.ekofin.net/yeni-tasarim/piyasa-gorunumu/halka-arzlar', N'{"description": "Güncel ve yaklaşan halka arzların görüntülendiği sayfa.", "features": ["Güncel halka arzlar", "Yaklaşan halka arzlar", "Halka arz detayları", "Halka arz takibi"], "requires_user_account": false}', N'Piyasa Görünümü', N'halka arz, güncel halka arz, yaklaşan halka arz, halka arz var mı, halka arz listesi, güncel arzlar, yaklaşan arzlar, arz takvimi, yeni halka arz')
SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK_Pages_Applications] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK_Pages_Applications]
GO
